<% @offers.each do |offer| %>
  <div class="offer-card">
    <b><%= offer.advertiser_name %></b>
    <p><%= offer.description %></p>

    <% if offer.premium %>
      <p class="premium">Premium</p>
    <% end %>

    <%= link_to 'Shop Now', offer.url, class: "shop" %>
  </div>
<% end %>
